<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: #ffe5d9;
            font-family: 'Roboto', sans-serif;
        }
        .navbar-brand {
            font-family: 'Playfair Display', serif;
        }
        .flip-card {
                background-color: transparent;
                width: 100%;
                height: 100%;
                perspective: 1000px;
            }
            .flip-card-inner {
                position: relative;
                width: 100%;
                height: 100%;
                text-align: center;
                transition: transform 0.6s;
                transform-style: preserve-3d;
            }
            .flip-card:hover .flip-card-inner {
                transform: rotateY(180deg);
            }
            .flip-card-front, .flip-card-back {
                position: absolute;
                width: 100%;
                height: 100%;
                backface-visibility: hidden;
            }
            .flip-card-front {
                /* background-color: #fff; */
                color: black;
            }
            .flip-card-back {
                background-color: #6d6875;
                color: white;
                transform: rotateY(180deg);
            }
            .card{
                background-color: transparent;
                border: none;
            }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #ffcad4;">
        <a class="navbar-brand" href="/" style="font-weight: bold; color: #6d6875;">Metamorphosis Tracker</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <span class="navbar-text mr-3">{{ user }}</span>
                </li>
                {% if goals %}
                <li class="nav-item">
                    <a class="nav-link" href="/create-new-goals" style="color: #6d6875; font-weight: bold;">New Goals</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link" href="/logout" style="color: #6d6875; font-weight: bold;">Logout</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="alert alert-info alert-dismissible fade show mt-3" role="alert">
                        {% for message in messages %}
                            <div>{{ message }}</div>
                        {% endfor %}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endif %}
            {% endwith %}
            <div class="text-center mt-4">
                <h1 style="font-family: 'Playfair Display', serif; color: #6d6875;">Welcome, {{ user }}!</h1>
                <blockquote class="blockquote"></blockquote>
                    <p class="mb-0" style="font-family: 'Playfair Display', serif; font-style: italic;">"Just when the caterpillar thought the world was over, it became a butterfly."</p>
                    <footer class="blockquote-footer" style="font-family: 'Roboto', sans-serif;">Anonymous</footer>
                </blockquote> 
            </div>
            {% if not goals %}
                <h2 class="text-center" style="font-family: 'Playfair Display', serif; color: #6d6875;">Choose your path</h2>
                
                    <div class="row">
                        <div class="col-sm-12 col-md-4 mb-4">
                            <div class="card ">
                                <div class="card-body text-center">
                                    <div class="flip-card">
                                        <div class="flip-card-inner">
                                            <div class="flip-card-front">
                                                <img src="../static/images/monarch.png" alt="Butterfly 1" class="img-fluid" style="width:90%;">
                                            </div>
                                            <div class="flip-card-back">
                                                <p class="mt-4" style="font-family: 'Roboto', sans-serif;color: #6d6875 ;"><b>The Monarch</b><br><i>Habit: Good Health</i><br>
                                                Monarchs are resilient and endure long migrations. This reflects the importance of persistence, self-care, and balance in maintaining physical and mental well-being.</p>
                                            <a href="/start-journey?category=monarch" class="btn btn-primary mt-3">Start Journey</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>          
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-4 mb-4">
                            <div class="card">
                                <div class="card-body text-center">
                                    <div class="flip-card">
                                        <div class="flip-card-inner">
                                            <div class="flip-card-front">
                                                <img src="../static/images/the-blue-Morpho-Butterfly.png" alt="Butterfly 2" class="img-fluid" style="width:50%;">
                                            </div>
                                            <div class="flip-card-back">
                                                <p class="mt-4" style="font-family: 'Roboto', sans-serif;color: #6d6875 ;"><b>The Blue Morpho Butterfly</b><br><i>Habit: Self-Awareness</i><br>
                                                    Known for its reflective, vibrant blue wings, this butterfly symbolizes introspection and understanding one’s inner self, much like prioritizing mental health and personal growth.</p>
                                                    <a href="/start-journey?category=the-blue-Morpho-Butterfly" class="btn btn-primary mt-3">Start Journey</a>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-sm-12 col-md-4 mb-4">
                            <div class="card">
                                <div class="card-body text-center">
                                    <div class="flip-card">
                                        <div class="flip-card-inner">
                                            <div class="flip-card-front">
                                                <img src="../static/images/swallowtail.png" alt="Butterfly 3" class="img-fluid" style="width:50%;">
                                            </div>
                                            <div class="flip-card-back">
                                                <p class="mt-4" style="font-family: 'Roboto', sans-serif; color: #6d6875 ;"><b>The Swallowtail Butterfly</b><br><i>Habit: Ambition and Confidence</i><br>
                                                    With its striking appearance and grandeur, the Swallowtail represents the courage to pursue big dreams and shine in competitive environments.</p>
                                                    <a href="/start-journey?category=the-blue-Morpho-Butterfly" class="btn btn-primary mt-3">Start Journey</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            
            {% else %}
                <h2 class="text-center" style="font-family: 'Playfair Display', serif; color: #6d6875;">Your Goals</h2>
                <table class="table table-striped mt-4">
                    <thead>
                        <tr>
                            <th scope="col">Goal</th>
                            <th scope="col">Description</th>
                            <th scope="col">Category</th>
                            <th scope="col">Progress</th>
                            <th scope="col">Action</th>
                            <th scope="col">Badge</th> 
                        </tr>
                    </thead>
                    <tbody>
                        {% for goal in goals %}
                            <tr>
                                <td>{{ goal.title }}</td>
                                <td>{{ goal.description }}</td>
                                <td>{{ goal.category }}</td>
                                <td>{{ goal.status }}</td>
                                <td>
                                    <a href="/goals/{{ goal.id }}" class="btn btn-primary">
                                        <i class="fas fa-pencil-alt"></i> Log Progress
                                    </a>
                                    <form action="/goals/{{ goal.id }}/delete" method="POST" style="display:inline;">
                                        <button type="submit" class="btn btn-danger">
                                            <i class="fas fa-trash-alt"></i> Delete Goal
                                        </button>
                                    </form>
                                </td>
                                {% if goal.status == 'Completed' %}
                                    {% if goal.category == 'monarch'%}
                                        <td><img src="../static/images/monarch.png" alt="Monarch" style="width: 50px;"></td>
                                    {% elif goal.category == 'the-blue-Morpho-Butterfly' %}
                                        <td><img src="../static/images/the-blue-Morpho-Butterfly.png" alt="The Blue Morpho Butterfly" style="width: 50px;"></td>
                                    {% else %}
                                        <td><img src="../static/images/swallowtail.png" alt="Swallowtail" style="width: 50px;"></td>
                                    {% endif %}
                                {% else %}
                                    <td>Keep up the work to earn the badge</td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
